.card {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  border: 1px solid #ddd;
}

.card-header {
  color: #fff;
}

.card-body {
  font-family: inherit;
  font-size: 1rem;
  color: #333;
}
