main {
  background-color: #f0f0f0;
  width: 100%;
  padding: 15px;
}

.content {
  font-family: inherit;
  color: inherit;
}

.content-header {
  padding-top: 15px;
  padding-bottom: 30px;
}

.content-title {
  font-size: 1.5rem;
  line-height: 1.2;
  color: #666;
}
